.div-of-landing{
    margin-top: 70px;
    width: 85%;
    margin-left: 7rem;
}
.div-of-about-us h3{
    color:rgb(184, 162, 36);
}
.div-of-about-us{
    margin-top: 7rem;
    width: 70%;
   padding: 2rem;
    margin-left: 15rem;
    color: White;
}
.div-of-about-us p{
    margin-left: 12rem;
    width: 40rem;
    text-indent: 4px;
}
.divider-about-us{
    display: flex;
    margin-left: 4rem;
}
.latest-main{
    flex-wrap: wrap;
    margin: 4rem;
    display: flex;
    margin-left: 7rem;
}
.divider-latest{
    display: flex;
    margin-left: 15rem;
}
.divider-latest h3{
    color:rgb(184, 162, 36);
}
.carousel-border{
    border: 14px solid rgb(184, 162, 36);
    border-style: ridge;
}